button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  margin: auto;
  background: url(img/background.png) center/cover;
  align-items: center;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game__button {
  width: 60px;
  height: 60px;
  background-color: #fca326;
  border: 4px solid black;
  font-size: 24px;
  transition: transform 300ms ease-in;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 100px;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  border-radius: 8px;
  font-size: 32px;
  margin-top: 8px;
}

.game__score {
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 46px;
  background-color: #fca326;
  border-radius: 50%;
  border: 3px solid black;
  color: white;
  margin-top: 8px;
}

.game__field {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  opacity: 0.4;
  background-color: rebeccapurple;
}

.pop-up {
  display: block;
  width: 500px;
  height: 150px;
  background: #17171790;
  color: white;
  text-align: center;
  padding: 24px;
  margin: auto;
  transform: translateY(-150%);
  border-radius: 8px;
}

.pop-up--hide {
  display: none;
}

.pop-up__container {
  width: 60px;
  height: 60px;
  background: white;
  color: black;
  border-radius: 50%;
}

.pop-up__message {
  margin-top: 24px;
  display: block;
  font-size: 24px;
}
